@font-face {
 font-family: "extra-bold";
 src: url("../fonts/zain/Zain-ExtraBold.ttf") format("truetype");
}

@font-face {
 font-family: "bold";
 src: url("../fonts/zain/Zain-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "regular";
 src: url("../fonts/zain/Zain-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "light";
 src: url("../fonts/zain/Zain-Light.ttf") format("truetype");
}
